<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dofast.module.pro.dal.oracle.process.ProcessOracleMapper">

    <select id="initProcess" resultType="java.util.HashMap">

        -- 获取所有工序信息
        SELECT
            OOCQL004 AS PROCESS_NAME ,
            oocq002 AS PROCESS_CODE
        FROM
            DSDATA.oocq_t a
                LEFT JOIN DSDATA.oocql_t b ON a.oocq001 = b.oocql001
                AND a.oocq002 = b.oocql002
                AND a.oocqent = b.oocqlent
        WHERE
            oocqent = 100
          AND OOCQL003 = 'zh_CN'
          AND oocq001 = '221'
          AND oocq002 LIKE 'AM%'

    </select>


</mapper>
