<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dofast.module.purchase.dal.oracle.retreatOrder.RetreatOrderOracleMapper">

    <select id="initRetreatOrder" parameterType="java.lang.String" resultType="java.util.HashMap">
        select distinct pmdsdocno as RETREAT_CODE , pmds002 as RETREAT_USER ,  pmds007 as VENDOR_CODE , pmds100 as RETREAT_TYPE
        from DSDATA.pmds_t a
        where a.pmdsent = #{erpCode} and a.pmdssite = 'AM01' AND a.pmds000 in('7','14') and pmdsstus = 'Y'
    </select>

    <select id="initRetreatGoods" parameterType="java.lang.String" resultType="java.util.HashMap">
        select distinct a.pmdsdocno as RETREAT_CODE , b.pmdt006 as GOODS_NUMBER , pmdt019 as UNIT_OF_MEASURE , pmdt020 as RECEIVE_NUM ,  pmdtseq as CONSEQUENCE , pmdt016 as LOCATION_CODE , pmdt017 as AREA_CODE
        from DSDATA.pmds_t a                                                                                                                                                                                                         left join DSDATA.pmdt_t b on a.pmdsdocno = b.pmdtdocno and a.pmdsent = b.pmdtent and a.pmdssite = b.pmdtsite
        where a.pmdsent = #{erpCode} and a.pmdssite = 'AM01' AND a.pmds000 in('7','14') and pmdsstus = 'Y'
    </select>




</mapper>
