<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dofast.module.mes.dal.oracle.mdworkstation.MdWorkstationOracleMapper">

    <!--
        一般情况下，尽可能使用 Mapper 进行 CRUD 增删改查即可。
        无法满足的场景，例如说多表关联查询，才使用 XML 编写 SQL。
        代码生成器暂时只生成 Mapper XML 文件本身，更多推荐 MybatisX 快速开发插件来生成查询。
        文档可见：https://www.iocoder.cn/MyBatis/x-plugins/
     -->

    <select id="initWorkstation" parameterType="java.lang.String" resultType="java.util.HashMap">
        -- 获取所有工作站信息
        -- 包含车间绑定信息
        select distinct a.ecaa001 as WORKSTATIONCODE , a.ecaa002 as WORKSTATIONNAME ,a.ecaa003 as WORKSHOPCODE, d.ooefl003 as WORKSHOPNAME,
                        DECODE(a.ecaa003, '0030050301', 15, '0030050304', 16, '0030050305', 17, '0030050306', 18 , '0030050302', 19 , '00300503', 20 , '0030050303', 21, '0030050399', 22) as WORKSHOPID ,
                        a.ecaastus as DELETED from DSDATA.ECAA_T a
                                                       left join DSDATA.ECAAL_T b on a.ecaa001 = b.ECAAL001 and a.ECAAENT = b.ECAALENT and a.ECAASITE = b.ECAALSITE
                                                       left join DSDATA.OOEF_T c on a.ecaa003 = c.ooef001
                                                       left join DSDATA.OOEFL_T d on a.ecaa003 = d.ooefl001 and c.ooef001 = d.ooefl001
        WHERE A.ECAAENT = #{erpCode} AND A.ECAASITE = 'AM01' AND b.ecaal002 = 'zh_CN' and ooefl002 = 'zh_CN' and a.ecaastus = 'Y'
    </select>

</mapper>
