<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dofast.module.system.dal.oracle.dict.DictDataOracleMapper">

    <!--
        一般情况下，尽可能使用 Mapper 进行 CRUD 增删改查即可。
        无法满足的场景，例如说多表关联查询，才使用 XML 编写 SQL。
        代码生成器暂时只生成 Mapper XML 文件本身，更多推荐 MybatisX 快速开发插件来生成查询。
        文档可见：https://www.iocoder.cn/MyBatis/x-plugins/
     -->

    <select id = "initWarehouseReasonData" resultType="java.util.HashMap" >
        select distinct oocq002 as REASON_CODE , b.OOCQL004 AS CONTENT  from DSDATA.oocq_t a
        left join DSDATA.OOCQL_T b on a.oocq001 = b.oocql001 and a.oocq002 = b.oocql002  and a.oocqent = b.oocqlent
        where a.oocqent = #{erpCode} and a.oocqstus = 'Y' and a.oocq001 = 313 and b.oocql003 = 'zh_CN'
    </select>


    <select id = "initDocType" resultType="java.util.HashMap" >
        select distinct oobx004 as DOC_TYPE, oobxl003 AS CONTENT  from DSDATA.ooba_t a
        left join DSDATA.oobx_t b on a.ooba002 = b.oobx001 and a.oobaent = b.oobxent
        left join DSDATA.oobxl_t c on b.oobx001 = oobxl001 and a.oobaent = c.oobxlent
        where oobaent = #{erpCode} and ooba001 = 'S03' AND a.oobastus = 'Y' and c.oobxl002 = 'zh_CN'
    </select>

</mapper>
