<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dofast.module.wms.dal.mysql.issueheader.IssueHeaderMapper">

    <resultMap id="IssueTxBeanResult" type="com.dofast.module.wms.dal.dataobject.issueheader.IssueTxBean">
        <result property="materialStockId" column="material_stock_id"></result>
        <result property="itemId" column="item_id"></result>
        <result property="itemCode" column="item_code"></result>
        <result property="itemName" column="item_name"></result>
        <result property="specification" column="specification"></result>
        <result property="unitOfMeasure" column="unit_of_measure"></result>
        <result property="batchCode" column="batch_code"></result>
        <result property="warehouseId" column="warehouse_id"></result>
        <result property="warehouseCode" column="warehouse_code"></result>
        <result property="warehouseName" column="warehouse_name"></result>
        <result property="locationId" column="location_id"></result>
        <result property="locationCode" column="location_code"></result>
        <result property="locationName" column="location_name"></result>
        <result property="areaId" column="area_id"></result>
        <result property="areaCode" column="area_code"></result>
        <result property="areaName" column="area_name"></result>
        <result property="vendorId" column="vendor_id"></result>
        <result property="vendorCode" column="vendor_code"></result>
        <result property="vendorName" column="vendor_name"></result>
        <result property="vendorNick" column="vendor_nick"></result>
        <result property="sourceDocType" column="source_doc_type"></result>
        <result property="sourceDocId" column="source_doc_id"></result>
        <result property="sourceDocCode" column="source_doc_code"></result>
        <result property="sourceDocLineId" column="source_doc_line_id"></result>
        <result property="transactionQuantity" column="transaction_quantity"></result>
        <result property="workorderId" column="workorder_id"></result>
        <result property="workorderCode" column="workorder_code"></result>
        <result property="creator"    column="creator"    />
        <result property="createTime"    column="create_time"    />
        <result property="updater"    column="updater"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>


    <select id="getTxBeans" parameterType="Long" resultMap="IssueTxBeanResult">
        SELECT irl.material_stock_id, irl.`item_id`,irl.`item_code`,irl.`item_name`,irl.`specification`,irl.`unit_of_measure`,irl.`batch_code`,
               irl.`warehouse_id`,irl.`warehouse_code`,irl.`warehouse_name`,irl.`location_id`,irl.`location_code`,irl.`location_name`,irl.`area_id`,irl.`area_code`,irl.`area_name`,
               'ISSUE' AS source_doc_type,ir.`id` AS source_doc_id,ir.`issue_code` AS source_doc_code,irl.`id` AS source_doc_line_id,
               irl.`quantity_issued` AS transaction_quantity,ir.workorder_id,ir.workorder_code,
               ir.`creator`,ir.`create_time`,ir.`updater`,ir.`update_time`, irl.vendor_code
        FROM wms_issue_header ir
                 LEFT JOIN wms_issue_line irl
                           ON ir.id = irl.`issue_id`
        WHERE ir.`id` = #{issueId}
    </select>


    <select id="initBomByWorkOrder" parameterType="String" resultType="java.util.Map">
        SELECT DISTINCT
            b.item_id as itemId,
            b.item_code as itemCode,
            b.item_name as itemName,
            b.item_spc as specification,
            b.unit_of_measure as unitOfMeasure,
            b.quantity,
            b.sequence
        FROM
            pro_workorder a
                LEFT JOIN pro_workorder_bom b ON a.id = b.workorder_id and a.tenant_id = b.tenant_id
        WHERE
            a.workorder_code = #{workorderCode}
    </select>

</mapper>
